{
  email {$ACME_EMAIL}
}

phylo.{$DOMAIN} {
  encode zstd gzip

  handle /api/* {
    reverse_proxy api:8000
  }

  handle /ws/* {
    reverse_proxy api:8000
  }

  handle /spark/* {
    uri strip_prefix /spark
    reverse_proxy api:4040
  }

  handle {
    reverse_proxy frontend:80
  }
}

api.phylo.{$DOMAIN} {
  encode zstd gzip
  reverse_proxy api:8000
}

airflow.phylo.{$DOMAIN} {
  encode zstd gzip
  reverse_proxy airflow-webserver:8080
}

minio.phylo.{$DOMAIN} {
  encode zstd gzip
  reverse_proxy minio:9001
}

s3.phylo.{$DOMAIN} {
  encode zstd gzip
  reverse_proxy minio:9000
}
